<!DOCTYPE html>
<!--
desde acá accedemos a las diferentes paginas de administracion
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EggNews: Titulares</title>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <h1>Administración de Secciones</h1>
            <nav>
            <a href="/">Home</a>
            <a href="/autor/listar">Autores</a>
            <br>
            <br>
            </nav>
        </header>
        <section>
            <table>
                <thead>              
                    <th scope="col">Seccion</th>
                    <th scope="col">Accion</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Noticia</td>
                        <td>
                            <a href="/cargar">Cargar</a>
                            <a href="/admin">Borrar</a>
                            <a href="/admin">Ativar/Desactivar</a>
                            <a href="/admin">Editar</a>
                            <a href="/">Listar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Autor</td>
                        <td>
                            <a href="/autor/cargar">Cargar</a>
                            <a href="/autor/admin">Borrar</a>                       
                            <a href="/autor/admin">Ativar/Desactivar</a>
                            <a href="/autor/admin">Editar</a>
                            <a href="/autor/listar">Listar</a>
                        </td>
                    </tr>
                </tbody>        
            </table>
        </section>
    </body>
</html>
