<!DOCTYPE html>
<!--
aca listamos todos los autores y tenemos la opcion de editar uno por uno, activarlo/desactivarlo y eliminarlo
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EggNews: Autores</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Administración de Autores</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/autor/cargar">Cargar Autor</a>
                <br>
                <br>
            </nav>
        </header>
       <!-- <div>
            <table>
                <thead>
                    <th scope="col">Id del Autor</th>
                    <th scope="col">Nombre del Autor</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Acciones</th>
                </thead>
                <tbody th:each="autor: ${autores}">
                    <tr>
                        <th scope="row" th:text="${autor.id}"></th>
                        <td th:text="${autor.nombre}"></td>
                        <td>
                            <img th:if="${autor.foto!=null}" th:src="${'/foto/autor?idAutor=__${autor.id}__' }" width="200px">
                            <img th:unless="${autor.foto!=null}" style="display:none">                           
                        </td>
                        <td><a th:href="@{/autor/editar/__${autor.id}__}">Editar</a></td>  
                    </tr>
                </tbody>
            </table>
        </div></<!-->
    </body>
</html>
