<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>EggNews</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h2>Egg News</h2>
            <nav>
                <a href="/noticia/listar">Noticias</a>
                <a href="/noticia/cargar">Cargar Noticia</a>
                <a href="/autor/listar">Autores</a>
                <a href="/autor/cargar">Cargar Autor</a>
                <a href="admin">Admnistrar Portal</a>
                <br>
                <br>
            </nav>
        </header>
    </body>
</html>
