<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EggNews: Titulares</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h2>Bienvenido a EggNews!!!!</h2>
            <nav>
                <a href="/">Home</a>
                <a href="/noticia/admin">Administrar Noticias</a>
                <a href="/noticia/cargar">Cargar Noticia</a>
                <br>
                <br>
            </nav>
        </header>
        <section>
         <table>
       
                <thead
                    <th scope="col"></th>
                    <th scope="col">Titulares</th>
                    <th scope="col">Fotos</th>
                    <th scope="col">Acciones</th>
                </thead>
                <tbody th:each="noticia: ${noticias}">
                    <tr>
                        <th hidden  scope="row" th:text="${noticia.id}"></th>
                        <td th:text="${noticia.titulo}"></td>
                        <td>
                            <img th:if="${noticia.foto!=null}" th:src="${'/foto/noticia?idNoticia=__${noticia.id}__' }" width="200px">
                            <img th:unless="${noticia.foto!=null}" style="display:none">                           
                        </td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td><a th:href="@{/noticia/mostrar/__${noticia.id}__}">Ver</a></td>
                                    </tr>
                                </tbody>
                            </table>  
                        </td> 
                    </tr>
                </tbody>        
            </table>
        </section>
    </body>
</html>
