<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>EggNews: Noticia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h2>Qué Noticia!!!!</h2>
            <nav>
                <a href="/">Home</a>
                <a th:href="@{/editar/__${noticia.id}__}">Editar</a>
                <a href="/adminGral">Administrar portal</a>
                <br>
                <br>
            </nav>
        </header>
        <section th:if="${noticia.estado==true}">
            <h2 th:text="${noticia.titulo}"></h2>

            <h4 th:text="${noticia.fecha}"></h4>
            <div>
                <img th:if="${noticia.foto!=null}" th:src="${'/foto/noticia?idNoticia=__${noticia.id}__' }" width="400px">
                <img th:unless="${noticia.foto!=null}" style="display:none">
                <p th:text="${noticia.contenido}"></p>  
            </div>
            <label>Autor: </label>
            <label th:text="${noticia.autor.nombre}"></label>
        </section>
        <section th:unless="${noticia.estado==true}"><h3>Seleccione una noticia para mostrar</h3></section>
    </body>
</html>
