<!DOCTYPE html>

<html>
    <head>
        <title>EggNews: Editar Noticia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h2>Editá tu Noticia Aquí!!!</h2>
            <nav>
                <a href="/">Home</a>
                <a href="/cargar">Cargar Noticia</a>
                <a href="/adminGral">Administrar portal</a>
                <br>
                <br>
            </nav>
        </header>
        <section>
            <form th:action="@{/editar/__${noticia.id}__}" method="POST" enctype="multipart/form-data">
                <input hidden th:value="${id}" name="id">
                   <div>
                        <label for="titular">Titular</label>
                        <input th:value="${noticia.titulo}" type="text" name="titulo" id="titular" placeholder="Ingresa el titular aquí...">
                        <br>
                        <br>
                        <label for="contenido" >Contenido: </label>
                        <br>
                        <textarea th:text="${noticia.contenido}"type="text" name="contenido" rows="10" cols="40" id="contenidoTextArea" placeholder="Escribe el contenido de la nota aquí..."></textarea>
                        
                      <br>
                        <br>
                        <label>Foto Noticia: </label>
                        <br>
                            <img th:if="${noticia.foto!=null}" th:src="${'/foto/noticia?idNoticia=__${noticia.id}__' }" width="200px">
                            <img th:unless="${noticia.foto!=null}" style="display:none">
                        <br>
                        <input type="file" name="archivo" onchange="loadFile(event)" id="imgNoticia" placeholder="Elige una foto.."/>
                        <br>
                        <br>
                        <img id="output" width="400px">
                        <script>
                            var loadFile = function(event){
                                var output = document.getElementById('output');
                                output.src = URL.createObjectURL(event.target.files[0]);
                                output.onload = function(){
                                    URL.revokeObjectURL(output.src);
                                };
                            };
                        </script>
                        <br>
                        <br>
                       <label for="autor">Autor: </label>
                        <select name="idAutor">
                            <option th:value="${noticia.autor.id}" th:text="${noticia.autor.nombre}">
                            <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}">
                        </select>
                    </div>
                <button type="submit">Actualizar</button>
            </form>
        </section>
    </body>
</html>
